Repository daviddias99/delivery-service-tum-ase: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-service:build, backend-service:build, backend-service:package, frontend-service:publish

.gitlab-ci.yml:

image: maven:3.3.9-jdk-8

variables:
  FRONTEND_IMAGE_NAME: frontend-react-service

cache:
  paths:
    [.m2/repository]

before_script:
  - cd $CI_PROJECT_DIR

after_script:
  - cd $CI_PROJECT_DIR

stages:          # List of stages for jobs, and their order of execution
  - build
  - test
  - package
  - publish
  - deploy


frontend-service:build:
  stage: build
  image: node:latest
  script:
    - echo "running npm install"
    - cd frontend/
    - npm install 
    - npm install react-scripts
  artifacts:
    paths:
      - frontend/build
      - frontend/node_modules
  only:
    changes:
      - frontend/**/*

# build-jobs:       # This job runs in the build stage, which runs first.
backend-service:build:  
  stage: build
  script:
    - echo "Compiling the code"
    - cd backend/ && mvn clean compile
    - echo "Compile complete"
  only:
    changes:
      - backend/**/*

unit-test-job:   # This job runs in the test stage.
  stage: test    # It only starts when the job in the build stage completes successfully.
  script:
    - echo "Running unit tests... This will take about 60 seconds."
    - echo "Code coverage is 90%"

lint-test-job:   # This job also runs in the test stage.
  stage: test    # It can run at the same time as unit-test-job (in parallel).
  script:
    - echo "Linting code... This will take about 10 seconds."
    - echo "No lint issues found in the project."

backend-service:package:
  stage: package
  script: cd backend/ && mvn package -DskiptTests-true
  artifacts:
    paths:
      - backend/target/*.jar
  only:
    changes:
      - backend/**/*

frontend-service:publish:
  stage: publish
  image: docker:19.03.12
  script:
    - cd frontend/
    - echo "CI registry " $CI_REGISTRY

    - docker login -u $CI_REGISTRY_USER -p $CI_PASSWORD $CI_REGISTRY

    - docker build -t $FRONTEND_IMAGE_NAME:latest

    - docker image tag 22 $CI_REGISTRY/$CI_PROJECT_LOCATION:$FRONTEND_IMAGE_NAME
  only:
    changes:
      - frontend/**/*


deploy-job:      # This job runs in the deploy stage.
  stage: deploy  # It only runs when *both* jobs in the test stage complete successfully.
  script:
    - echo "Deploying application..."
    - echo "Application successfully deployed."

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

README added
  README.md
Due: none

architecture image link fixed
  README.md
Due: none

some newline problems fixed
  README.md
Due: none

fix small typo in deploy-docker-compose
  docs/deployment-docker-compose
Due: none

removed the username from the user seed.
  docs/user_seed.json
Due: none

added CORS
  backend/gateway-server/src/main/java/com/ase/AuthConfig.java
  backend/gateway-server/src/main/resources/application.yml
Due: backend-service:build, backend-service:package

removed globalcors
  backend/gateway-server/src/main/resources/application.yml
Due: backend-service:build, backend-service:package

cors patch
  backend/gateway-server/src/main/java/com/ase/AuthConfig.java
  backend/gateway-server/src/main/java/com/ase/CorsConfiguration.java
  backend/gateway-server/src/main/resources/application.yml
Due: backend-service:build, backend-service:package

Reverted cors configuration
  backend/gateway-server/src/main/java/com/ase/AuthConfig.java
  backend/gateway-server/src/main/java/com/ase/CorsConfiguration.java
  backend/gateway-server/src/main/resources/application.yml
Due: backend-service:build, backend-service:package

Cicd test
  .gitlab-ci.yml
  backend/auth-service/src/main/java/com/ase/authservice/entity/User.java
  backend/box-service/src/main/java/com/ase/boxservice/controller/BoxController.java
  backend/box-service/src/main/java/com/ase/boxservice/entity/BoxStatus.java
  backend/box-service/src/main/java/com/ase/boxservice/service/BoxService.java
  backend/box-service/src/main/java/com/ase/boxservice/service/serviceImpl/BoxServiceImpl.java
  backend/delivery-service/src/main/java/com/ase/deliveryservice/service/serviceImpl/DeliveryServiceImpl.java
  docs/deployment-docker-compose.yml
Due: backend-service:build, backend-service:package

Notification service reactivated - auth issues resolved
  backend/box-service/src/main/java/com/ase/boxservice/controller/BoxController.java
  backend/delivery-service/src/main/java/com/ase/deliveryservice/service/serviceImpl/DeliveryServiceImpl.java
  backend/notification-service/pom.xml
  backend/notification-service/src/main/java/com/ase/notificationservice/NotificationServiceApplication.java
  backend/notification-service/src/main/java/com/ase/notificationservice/auth/KeyStoreManager.java
  backend/notification-service/src/main/java/com/ase/notificationservice/controller/NotificationController.java
  backend/notification-service/src/main/resources/auth.keystore
  backend/service-communication/src/main/java/com/ase/client/NotificationServiceClient.java
Due: backend-service:build, backend-service:package

Box fix
  backend/box-service/src/main/java/com/ase/boxservice/service/serviceImpl/BoxServiceImpl.java
Due: backend-service:build, backend-service:package

Box fix bug
  backend/box-service/src/main/java/com/ase/boxservice/service/serviceImpl/BoxServiceImpl.java
Due: backend-service:build, backend-service:package

removed testing stuff from authcontroller and authconfig
  backend/auth-service/src/main/java/com/ase/authservice/config/AuthConfig.java
  backend/auth-service/src/main/java/com/ase/authservice/controller/AuthController.java
Due: backend-service:build, backend-service:package

removed register from authservice, not supposed to be a feature.
  backend/auth-service/src/main/java/com/ase/authservice/controller/AuthController.java
  backend/auth-service/src/main/java/com/ase/authservice/dto/AuthDto.java
  backend/auth-service/src/main/java/com/ase/authservice/service/AuthService.java
  backend/auth-service/src/main/java/com/ase/authservice/service/serviceimpl/AuthServiceImpl.java
Due: backend-service:build, backend-service:package

edit delivery changes the boxes status
  backend/box-service/src/main/java/com/ase/boxservice/controller/BoxController.java
  backend/box-service/src/main/java/com/ase/boxservice/service/BoxService.java
  backend/box-service/src/main/java/com/ase/boxservice/service/serviceImpl/BoxServiceImpl.java
  backend/delivery-service/src/main/java/com/ase/deliveryservice/service/serviceImpl/DeliveryServiceImpl.java
  backend/service-communication/src/main/java/com/ase/client/BoxServiceClient.java
Due: backend-service:build, backend-service:package

/delivery/add now checks if the box, deliverer and customer exist
  backend/box-service/src/main/java/com/ase/boxservice/controller/BoxController.java
  backend/delivery-service/src/main/java/com/ase/deliveryservice/controller/DeliveryController.java
  backend/delivery-service/src/main/java/com/ase/deliveryservice/dto/DeliveryResponse.java
  backend/delivery-service/src/main/java/com/ase/deliveryservice/service/DeliveryService.java
  backend/delivery-service/src/main/java/com/ase/deliveryservice/service/serviceImpl/DeliveryServiceImpl.java
  backend/service-communication/src/main/java/com/ase/client/BoxServiceClient.java
  backend/service-communication/src/main/java/com/ase/client/UserServiceClient.java
  backend/user-service/src/main/java/com/ase/userservice/controller/UserController.java
  backend/user-service/src/main/java/com/ase/userservice/service/UserService.java
  backend/user-service/src/main/java/com/ase/userservice/service/serviceImpl/UserServiceImpl.java
Due: backend-service:build, backend-service:package

/delivery/add now check if the box only only has deliveries from that user.
  backend/delivery-service/src/main/java/com/ase/deliveryservice/controller/DeliveryController.java
  backend/delivery-service/src/main/java/com/ase/deliveryservice/service/serviceImpl/DeliveryServiceImpl.java
Due: backend-service:build, backend-service:package

box-client fixed
  backend/service-communication/src/main/java/com/ase/client/BoxServiceClient.java
Due: backend-service:build, backend-service:package

Update to docker and delivery creation
  backend/gateway-server/src/main/java/com/ase/CorsConfiguration.java
  backend/gateway-server/src/main/resources/application.yml
  docs/deployment-docker-compose.yml
  frontend/src/components/custom/delivery/deliveryManagement/AddDelivery.tsx
Due: frontend-service:build, backend-service:build, backend-service:package, frontend-service:publish

uncommented XSRF check
  frontend/src/components/common/Layout/LoginModal/LoginModal.tsx
Due: frontend-service:build, frontend-service:publish

e-mail notifications are added for delivered&collected status
  backend/box-service/src/main/java/com/ase/boxservice/service/BoxService.java
  backend/box-service/src/main/java/com/ase/boxservice/service/serviceImpl/BoxServiceImpl.java
  backend/delivery-service/src/main/java/com/ase/deliveryservice/service/serviceImpl/DeliveryServiceImpl.java
Due: backend-service:build, backend-service:package

Fixing some warnings
  backend/auth-service/src/main/java/com/ase/authservice/controller/AuthController.java
  backend/auth-service/src/main/java/com/ase/authservice/service/AuthService.java
  backend/auth-service/src/main/java/com/ase/authservice/service/serviceimpl/AuthServiceImpl.java
  backend/box-service/src/main/java/com/ase/boxservice/controller/BoxController.java
  backend/delivery-service/src/main/java/com/ase/deliveryservice/dto/DeliveryResponse.java
  backend/delivery-service/src/main/java/com/ase/deliveryservice/service/serviceImpl/DeliveryServiceImpl.java
  backend/gateway-server/src/main/java/com/ase/AuthConfig.java
Due: backend-service:build, backend-service:package

Add authorship of CorsConfiguration
  backend/gateway-server/src/main/java/com/ase/CorsConfiguration.java
  docs/seeds/box_seed.json
  docs/seeds/box_seed_alt.json
  docs/seeds/delivery_seed.json
  docs/seeds/delivery_seed_alt.json
  docs/seeds/run_seed_linux.sh
  docs/seeds/user_seed.json
  frontend/README.md
Due: frontend-service:build, backend-service:build, backend-service:package, frontend-service:publish

added the abiity to update a user, fixed some bugs, and addded the raspberry pi id
  backend/box-service/src/main/java/com/ase/boxservice/dto/BoxDto.java
  backend/box-service/src/main/java/com/ase/boxservice/entity/Box.java
  frontend/src/components/custom/box/Box/Box.tsx
  frontend/src/components/custom/box/Box/EditBox/EditBox.tsx
  frontend/src/components/custom/boxes/boxManagement/AddBox.tsx
  frontend/src/components/custom/boxes/boxManagement/DeleteBox.tsx
  frontend/src/components/custom/users/userProfile/UserProfile.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: frontend-service:build, backend-service:build, backend-service:package, frontend-service:publish

e-mail notifications are added for delivered&collected status
  backend/delivery-service/src/main/java/com/ase/deliveryservice/service/serviceImpl/DeliveryServiceImpl.java
Due: backend-service:build, backend-service:package

fixed a typo
  frontend/src/components/custom/boxes/boxManagement/AddBox.tsx
Due: frontend-service:build, frontend-service:publish

Fix bug in update box status
  backend/delivery-service/src/main/java/com/ase/deliveryservice/service/serviceImpl/DeliveryServiceImpl.java
Due: backend-service:build, backend-service:package

e-mail notifications are added for delivered&collected status
  backend/delivery-service/src/main/java/com/ase/deliveryservice/controller/DeliveryController.java
  backend/delivery-service/src/main/java/com/ase/deliveryservice/service/DeliveryService.java
  backend/delivery-service/src/main/java/com/ase/deliveryservice/service/serviceImpl/DeliveryServiceImpl.java
Due: backend-service:build, backend-service:package

Add diagrams
  backend/delivery-service/src/main/java/com/ase/deliveryservice/service/serviceImpl/DeliveryServiceImpl.java
  backend/gateway-server/src/main/resources/application.yml
  contribution/Architecture-1.png
  contribution/Architecture-2.png
Due: backend-service:build, backend-service:package

user-delete fixed.
  backend/delivery-service/src/main/java/com/ase/deliveryservice/controller/DeliveryController.java
  backend/delivery-service/src/main/java/com/ase/deliveryservice/repository/DeliveryRepository.java
  backend/delivery-service/src/main/java/com/ase/deliveryservice/service/DeliveryService.java
  backend/delivery-service/src/main/java/com/ase/deliveryservice/service/serviceImpl/DeliveryServiceImpl.java
  backend/service-communication/src/main/java/com/ase/client/DeliveryServiceClient.java
  backend/user-service/src/main/java/com/ase/userservice/controller/UserController.java
  backend/user-service/src/main/java/com/ase/userservice/service/serviceImpl/UserServiceImpl.java
Due: backend-service:build, backend-service:package

added error and success message when adding a delivery
  frontend/src/components/custom/delivery/deliveryManagement/AddDelivery.tsx
Due: frontend-service:build, frontend-service:publish

Removed .vscode
  .gitignore
  .vscode/launch.json
Due: none

Update readme
  README.md
  backend/README.md
  frontend/.env.template
  frontend/README.md
Due: frontend-service:build, backend-service:build, backend-service:package, frontend-service:publish

removed the abilty to edit the adress
  frontend/src/components/custom/box/Box/EditBox/EditBox.tsx
Due: frontend-service:build, frontend-service:publish

Update seed
  contribution/box-delivery-status.png
  docs/seeds/box_seed.json
  docs/seeds/delivery_seed.json
  docs/seeds/user_seed.json
Due: none

Add check to multiple delete
  backend/user-service/src/main/java/com/ase/userservice/service/serviceImpl/UserServiceImpl.java
Due: backend-service:build, backend-service:package

auth filter bugfixes
  backend/auth-service/src/main/java/com/ase/authservice/filter/AuthRequestFilter.java
  backend/auth-service/src/main/java/com/ase/authservice/service/serviceimpl/AuthServiceImpl.java
  backend/box-service/src/main/java/com/ase/boxservice/auth/AuthRequestFilter.java
  backend/delivery-service/src/main/java/com/ase/deliveryservice/auth/AuthRequestFilter.java
  backend/notification-service/src/main/java/com/ase/notificationservice/auth/AuthRequestFilter.java
  backend/user-service/src/main/java/com/ase/userservice/auth/AuthRequestFilter.java
Due: backend-service:build, backend-service:package

Add contribution
  contribution/contribution.pdf
Due: none
