Repository daviddias99/delivery-service-tum-ase: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend:build, backend:build, backend:package, frontend:publish, backend:publish

frontend:build:
  stage: build
  image: node:latest
  script:
  - echo "running npm install"
  - cd frontend/
  - npm install
  - npm install react-scripts
  artifacts:
    paths:
    - frontend/build
    - frontend/node_modules
    expire_in: 1 hour

backend:build:
  stage: build
  script:
  - echo "Compiling the auth-service code"
  - cd backend/ && mvn clean compile
  - echo "Compile complete"

backend:package:
  stage: package
  image: maven:3-jdk-11
  script:
  - cd backend/ && mvn clean install
  artifacts:
    paths:
    - backend/*/target/*.jar
    expire_in: 1 hour

frontend:publish:
  stage: publish
  image: docker:19.03.12
  services:
  - docker:19.03.12-dind
  script:
  - cd frontend/
  - echo "CI registry " $CI_REGISTRY
  - echo "CI registry user " $CI_REGISTRY_USER $CI_REGISTRY/$CI_PROJECT_LOCATION:$FRONTEND_IMAGE_NAME
  - docker login -u $CI_REGISTRY_USER -p $CI_PASSWORD $CI_REGISTRY
  - ls
  ...

backend:publish:
  stage: publish
  image: docker:19.03.12
  services:
  - docker:19.03.12-dind
  script:
  - cd backend/
  - echo "CI_REGISTRY " $CI_REGISTRY
  - echo "CI registry user " $CI_REGISTRY_USER
  - docker login -u $CI_REGISTRY_USER -p $CI_PASSWORD $CI_REGISTRY
  - docker build -t $AUTH_SERVICE:1.0 $AUTH_SERVICE/
  ...

Delete bug fix
  .gitlab-ci.yml
  backend/user-service/src/main/java/com/ase/userservice/service/serviceImpl/UserServiceImpl.java
Due: backend:build, backend:package, backend:publish

no longer allows deleted to log in
  backend/auth-service/src/main/java/com/ase/authservice/service/serviceimpl/AuthServiceImpl.java
Due: backend:build, backend:package, backend:publish

added the possibilty to delete a delivery
  frontend/src/components/custom/delivery/Delivery/Delivery.tsx
  frontend/src/services/api.ts
Due: frontend:build, frontend:publish

deliverer-delete fixed.
  backend/delivery-service/src/main/java/com/ase/deliveryservice/controller/DeliveryController.java
  backend/delivery-service/src/main/java/com/ase/deliveryservice/repository/DeliveryRepository.java
  backend/delivery-service/src/main/java/com/ase/deliveryservice/service/DeliveryService.java
  backend/delivery-service/src/main/java/com/ase/deliveryservice/service/serviceImpl/DeliveryServiceImpl.java
  backend/service-communication/src/main/java/com/ase/client/DeliveryServiceClient.java
  backend/user-service/src/main/java/com/ase/userservice/service/serviceImpl/UserServiceImpl.java
Due: backend:build, backend:package, backend:publish

Bugfixing
  README.md
  backend/user-service/src/main/java/com/ase/userservice/controller/UserController.java
  backend/user-service/src/main/java/com/ase/userservice/entity/User.java
  backend/user-service/src/main/java/com/ase/userservice/service/serviceImpl/UserServiceImpl.java
  frontend/src/components/custom/users/userManagement/addUser/CreateDeliverer.tsx
Due: frontend:build, backend:build, backend:package, frontend:publish, backend:publish

Bug fixing
  backend/user-service/src/main/java/com/ase/userservice/controller/UserController.java
  docs/seeds/delivery_seed.json
Due: backend:build, backend:package, backend:publish

Bug fixing
  backend/service-communication/src/main/java/com/ase/client/DeliveryServiceClient.java
Due: backend:build, backend:package, backend:publish

Fixed frontend rfid bug
  frontend/src/components/custom/users/userProfile/UserProfile.tsx
  frontend/src/types/index.ts
Due: frontend:build, frontend:publish

Fixed delivery deletion
  backend/delivery-service/src/main/java/com/ase/deliveryservice/controller/DeliveryController.java
  backend/delivery-service/src/main/java/com/ase/deliveryservice/repository/DeliveryRepository.java
  backend/delivery-service/src/main/java/com/ase/deliveryservice/service/DeliveryService.java
  backend/delivery-service/src/main/java/com/ase/deliveryservice/service/serviceImpl/DeliveryServiceImpl.java
Due: backend:build, backend:package, backend:publish

Add video link
  README.md
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

add for cd compose
  docs/deployment-docker-compose-cd.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

ci cd trigger
  backend/cicd_test_file.txt
  frontend/cicd_test_file.txt
Due: frontend:build, backend:build, backend:package, frontend:publish, backend:publish

Update README.md
  README.md
Due: none

Add box code
  box/.gitignore
  box/README.md
  box/src/Orchestrator.py
  box/src/OrchestratorDummy.py
  box/src/comms/CommunicationManager.py
  box/src/comms/CommunicationManagerCookie.py
  box/src/config/ConfigurationManager.py
  box/src/config/box_info.json
  box/src/config/default_config.json
  box/src/devices/LedController.py
  box/src/devices/LightSensorController.py
  box/src/devices/MutuallyExclusiveLedController.py
  box/src/devices/RfidController.py
  box/src/state/BoxStateMachine.py
  docker/deployment-docker-compose-cd.yml
  docker/deployment-docker-compose.yml
  docker/docker-compose.yml
  docker/seeds/box_seed.json
  docker/seeds/box_seed_alt.json
  docker/seeds/delivery_seed.json
  docker/seeds/delivery_seed_alt.json
  docker/seeds/run_seed_linux.sh
  docker/seeds/user_seed.json
  docs/Architecture-1.png
  docs/Architecture-2.png
  docs/box-delivery-status.png
  docs/contribution.pdf
  docs/specification.pdf
Due: none

Update notification-service.yml
  backend/config-server/src/main/resources/ase-delivery-config/notification-service.yml
Due: backend:build, backend:package, backend:publish

Path conditions:
  frontend:build: any of: frontend/**/*
  backend:build: any of: backend/**/*
  backend:package: any of: backend/**/*
  frontend:publish: any of: frontend/**/*
  backend:publish: any of: backend/**/*
